@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- APP LIKE FEEL --- */
:root {
    touch-action: manipulation;
    /* Double tap zoom band */
}

body {
    -webkit-tap-highlight-color: transparent;
    /* Click karne par blue box na aaye */
    -webkit-user-select: none;
    /* Text select na ho (App jaisa) */
    user-select: none;
    overscroll-behavior-y: none;
    /* Pull to refresh band */
    background-color: #f8fafc;
}

/* Scrollbar chupana lekin scroll chalne dena */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}