@tailwind base;
@tailwind components;
@tailwind utilities;

/* App Like Feel (No selection, No scrollbar) */
:root {
    touch-action: manipulation;
}

body {
    background-color: #f8fafc;
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    /* Mobile click color removed */
    -webkit-user-select: none;
    /* Text selection disabled */
    user-select: none;
}

/* Hide Scrollbar but allow scrolling */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}